<style>
table, th, td {
border: 1px solid black;
}
</style>

<p>
  show id is {{showId}}
</p>




<!-- (2) Fetching the seasons of a show when click on show's button-->
<!--<div *ngIf="seasons">-->
  <!--<br>-->
  <!--<ol>-->
    <!--<li *ngFor="let season of seasons" (click)="showEpisodes(season)">-->
      <!--{{season.number}}-->
      <!--<div *ngIf = "clicked2 && season.number==seasonClicked">-->
        <!--<ol>-->

          <!--<li *ngFor="let episode of episodes">-->
            <!--<span *ngIf="episode.season==season.number">-->
              <!--{{episode.name}}-->
            <!--</span>-->
          <!--</li>-->
        <!--</ol>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ol>-->

<!--</div>-->





<!--(3) The skeleton version: double loop-->
<div *ngIf="seasons">
  <br>
  <ol>
    <li *ngFor="let season of seasons" (click)="showEpisodes(season)">
      {{season.number}}
      <div *ngIf = "clicked2 && season.number==seasonClicked">
        <h4><u>Double Loop Method</u></h4>
       <span *ngFor="let episode of episodes">
         <span *ngIf = "episode.season==season.number">
           {{episode.name}} {{episode.number}} {{season.id}}<br>
         </span>
       </span>
        <h4><u>Put into a table</u></h4>
        <table>
          <tr>
            <th>Name</th><th>Number</th><td>Season</td>
          </tr>
          <tr *ngFor="let episode of episodes">
            <span *ngIf = "episode.season==season.number">
            <td>{{episode.name}}</td>
            <td>{{episode.number}}</td>
            <td>{{season.number}}</td>
            </span>
          </tr>
        </table>
      </div>
    </li>
  </ol>

</div>
Time right now: {{" "+time}} <br><br>
{{nextEpisode}}<br><br>

<span *ngFor="let episode of episodes">
            DateTime:  {{episode.airdate+" "+episode.airtime}} <br>
       </span>







<!--Trial with sending the seasonId -->
<!--<div *ngIf="seasons">-->
  <!--<br>-->
  <!--<ol>-->
    <!--<li *ngFor="let season of seasons" (click)="showEpisodes(season)">-->
      <!--{{season.number}}-->
      <!--<div *ngIf = "clicked2 && season.number==seasonClicked">-->
      <!--<app-season-episodes [parentData]="season.id"></app-season-episodes>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ol>-->

<!--</div>-->
<!--<app-season-episodes [parentData]="name"></app-season-episodes>-->


<!--Trial with importing the table data - Try to sort-->
<!--<div *ngIf="seasons">-->
  <!--<br>-->
  <!--<ol>-->
    <!--<li *ngFor="let season of seasons" (click)="showEpisodes(season)">-->
      <!--{{season.number}}-->
      <!--<div *ngIf = "clicked2 && season.number==seasonClicked">-->
        <!--<app-season-episodes [seasonId]="season.id"></app-season-episodes>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ol>-->

<!--</div>-->



<!--<app-season-episodes [seasonId]="season.id"></app-season-episodes>-->


























<!--Trial with the accordion-->
<!--<mat-accordion *ngIf="seasons">-->
  <!--<mat-expansion-panel *ngFor="let season of seasons"  >-->
    <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title [innerHTML]="'Season: ' + season.number">-->
      <!--</mat-panel-title>-->
      <!--<mat-panel-description [innerHTML]="'Episodes: ' + season.episodeOrder">-->
      <!--</mat-panel-description>-->
      <!--<ng-template matExpansionPanelContent>-->

        <!--<button (click)="showEpisodes(season)" >Get Episodes</button>-->
      <!--</ng-template>-->


    <!--</mat-expansion-panel-header>-->
  <!--</mat-expansion-panel>-->

 <!---->


<!--</mat-accordion>-->

<!--<div *ngIf = "clicked2 && season.number==seasonClicked">-->
      <!--<span *ngFor="let episode of episodes">-->
      <!--<span *ngIf = "episode.season==season.number">-->
      <!--{{episode.name}}<br>-->
      <!--</span>-->
      <!--</span>-->
<!--</div>-->
